<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="GitForce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
      <GitForce.Properties.Settings>
          <setting name="GitPath" serializeAs="String">
              <value/>
          </setting>
          <setting name="ShowLogWindow" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="ShowDotGitFolders" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="PuTTYPf" serializeAs="String">
              <value/>
          </setting>
          <setting name="PuTTYKeys" serializeAs="String">
              <value/>
          </setting>
          <setting name="leavePageant" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="DoubleClick" serializeAs="String">
              <value>1</value>
          </setting>
          <setting name="DoubleClickProgram" serializeAs="String">
              <value/>
          </setting>
          <setting name="EditViewPrograms" serializeAs="String">
              <value/>
          </setting>
          <setting name="viewMode" serializeAs="String">
              <value>0</value>
          </setting>
          <setting name="viewRightPanel" serializeAs="String">
              <value>Repos</value>
          </setting>
          <setting name="commitFont" serializeAs="String">
              <value>Courier New, 8.25pt</value>
          </setting>
          <setting name="commitsRetrieveAll" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="commitsRetrieveLast" serializeAs="String">
              <value>100</value>
          </setting>
          <setting name="commitW1" serializeAs="String">
              <value>60</value>
          </setting>
          <setting name="commitW2" serializeAs="String">
              <value>72</value>
          </setting>
          <setting name="logCommands" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="logTime" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="logTime24" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="ShowExecuteWindow" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="RepoDeepScan" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="WindowsGeometries" serializeAs="Xml">
              <value>
                  <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                      <string/>
                  </ArrayOfString>
              </value>
          </setting>
          <setting name="DiffAppHelper" serializeAs="String">
              <value/>
          </setting>
          <setting name="MergeAppHelper" serializeAs="String">
              <value/>
          </setting>
          <setting name="WorkspaceLRU" serializeAs="String">
              <value/>
          </setting>
          <setting name="WorkspaceFile" serializeAs="String">
              <value/>
          </setting>
          <setting name="ShowCommandLine" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="ShowFormatIndex" serializeAs="String">
              <value>0</value>
          </setting>
          <setting name="RefreshOnChange" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="ReaddOnChange" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="ShowTabsOnRightPane" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="WarnMultipleInstances" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="ForceDeleteBranch" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="NeedSettingsUpgrade" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="AutoCloseGitOnSuccess" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="WarnOnTabs" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="WarnOnTabsExt" serializeAs="String">
              <value>*.c;*.h;*.cpp;*.cc;*.cs</value>
          </setting>
          <setting name="ReposColumnWidths" serializeAs="String">
              <value>-2,-2,-2,0</value>
          </setting>
          <setting name="WarnIfAdmin" serializeAs="String">
              <value>True</value>
          </setting>
      </GitForce.Properties.Settings>
    </userSettings>
</configuration>
