<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Git4Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Git4Win.Properties.Settings>
            <setting name="FormMainLocation" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="FormMainSize" serializeAs="String">
                <value>650, 450</value>
            </setting>
            <setting name="GitPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FormLogLocation" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="FormLogSize" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="ShowLogWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDotGitFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiffActiveName" serializeAs="String">
                <value />
            </setting>
            <setting name="PuTTYPf" serializeAs="String">
                <value />
            </setting>
            <setting name="PuTTYKeys" serializeAs="String">
                <value />
            </setting>
            <setting name="leavePageant" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoubleClick" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DoubleClickProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="EditViewPrograms" serializeAs="String">
                <value />
            </setting>
            <setting name="viewMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="viewRightPanel" serializeAs="String">
                <value>Repos</value>
            </setting>
            <setting name="commitFont" serializeAs="String">
                <value>Courier New, 8.25pt</value>
            </setting>
            <setting name="commitsRetrieveAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="commitsRetrieveLast" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="commitW1" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="commitW2" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="logCommands" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logTime24" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowExecuteWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepoDeepScan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowsGeometries" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
        </Git4Win.Properties.Settings>
    </userSettings>
</configuration>